#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flashcard {
  display:flex;
  justify-content: center;
  margin:auto;
}

.card{
  padding:2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 1em;
  cursor:pointer;
  position:relative;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:lightcyan;
}


.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.word,.def{
  position:absolute;
  width: 80%;
  backface-visibility: hidden
}

.card.flip, .def{
  transform:rotateY(180deg);
}



.read-the-docs {
  color: #888;
}

button{
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  margin: 1em;
  transition: background-color 0.3s;  
}

button:hover{
  background-color: #0056b3;
  
}


.answer{
  width: 80%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  background-color: lightcyan;
  transition: box-shadow 0.3s;
}

.answer:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.correct{
  border: 1px solid green;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  background-color: #d4edda;
  color: #155724;
  transition: box-shadow 0.3s;
}

.wrong{
  border: 1px solid red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  background-color: #f8d7da;
  color: #721c24;
  transition: box-shadow 0.3s;  
}

.feedback{
  font-size: 1.2em;
  font-weight: bold;
}